container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 100%;
}
logo{   
    background-color: #ffffff;
    width: 120px;
}
titlebar{
    align-items: center;
    background-color: #0b07e7;
    height: 100%;
    width: calc(100% - 120px);
}